.create-pt {
  padding-top: 48px;
}

.justifyContentSa {
  display: flex;
  justify-content: space-around;
}

.slt {
  width: 200px !important;
  flex-direction: column;
  border: 2px solid rgba(4, 4, 5, 0.1);
  border-radius: 16px;
  padding: 30px;
  cursor: pointer;
}

.slt > img {
  width: 85px;
  height: 135px;
  margin-bottom: 25px;
  object-fit: contain;
}

.create-box {
  min-height: 80vh;
  width: 30vw;
}

.create-box > div {
  margin: 40px 0px;
}

.my-collection {
  min-height: 80vh;
  width: 60vw;
}

.my-collection > div {
  display: flex;
  justify-content: space-around;
}

.my-collection > h2 {
  text-align: center;
  margin-bottom: 30px;
}

.avatar-uploader > div > .ant-upload {
  width: 400px;
  height: 400px;
}

.loading {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.dropzone {
  font-size: larger;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 350px;
  border-radius: 1rem;
  color: rgba(45, 46, 46, 0.35);
  border: 1px dashed rgba(0, 0, 0, 0.3);
}

.dropzone:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: 1px dashed rgba(58, 59, 59, 0.35);
  border-radius: 1rem;
}

.input-area {
  width: 30vw;
}

.input-area input,
.input-area textarea {
  border-radius: 1rem;
}

.input-name-nft {
  margin-bottom: 15px;
  width: 30vw;
  border-radius: 1rem !important;
}

.ant-modal-footer {
  border-top: 0 !important ;
}

.choose {
  display: flex;
  margin-bottom: 24px;
}

.choose > .active {
  border: 1px solid rgb(0, 102, 255) !important;
}

.choose > .box {
  cursor: pointer;
  border: 1px solid rgba(4, 4, 5, 0.1);
  margin: 0px 15px 0px 0px;
  height: 14vh;
  width: 6.5vw;
  flex-shrink: 0;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  transition: all 0.12s ease-in-out 0s;
}

.input-mode-bc {
  background-color: var(--input-background) !important;
  color: var(--color) !important;
  width: 100%;
}

@media (max-width: 1200px) {
  .my-collection {
    width: 70vw;
    padding: 1.5rem 1rem 0 1rem;
  }
}

@media (max-width: 1024px) {
  .my-collection {
    width: 75vw;
    padding: 1.5rem 1rem 0 1rem;
  }

  .my-collection div.input-area {
    width: 100%;
    text-align: center;
    margin-left: 1rem;
  }
}

@media (max-width: 768px) {
  .my-collection div.input-area {
    width: 100%;
    text-align: center;
    margin-left: 1rem;
  }

  .drag-box-search .dropzone {
    width: 240px;
    height: 240px;
  }

  .choose > .box {
    cursor: pointer;
    border: 1px solid rgba(4, 4, 5, 0.1);
    margin: 0px 15px 0px 0px;
    height: 14vh;
    width: 25vw;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    transition: all 0.12s ease-in-out 0s;
  }
}
@media (max-width: 576px) {
  .my-collection > div {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .my-collection div.input-area {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .drag-box-search .dropzone {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .my-collection .input-name-nft {
    width: 100%;
  }

  .my-collection > h2 {
    font-size: 1.3rem;
  }

  .my-collection h3.text-upload-image {
    margin-bottom: 0.15rem;
  }
}
