.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.banner {
  height: 320px;
  width: 940px;
}

.banner > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.avatar {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 160px;
}

.relative {
  position: relative;
}

.avatar > img {
  width: 168px;
  height: 168px;
  border-radius: 50%;
}

.name > p {
  margin: 15px;
  font-size: xx-large;
  font-weight: 800;
}

.address > p {
  cursor: pointer;
  color: rgb(138, 147, 155);
  font-size: 16px;
  font-family: Avenir Next, Avenir, Avenir Next Local, sans-serif !important;
  line-height: 1.5;
}

.change-image {
  cursor: pointer;
  padding: 7px;
  border-radius: 16px;
  background-color: rgba(222, 222, 222, 0.6);
  position: absolute;
  right: 20px;
  bottom: 20px;
}
