html[data-theme='dark'] {
  --color: rgb(250, 250, 250);
  --background-color: #262626;
  --nft-background: #000000;
  --input-background: #232323;
  --border-box: #484848;
}

[data-theme='dark'] .ant-card {
  border: 1px solid rgb(84 83 83) !important;
}

[data-theme='dark'] .ant-steps-item-title {
  color: rgb(250, 250, 250) !important;
}

[data-theme='dark'] .search-style {
  color: rgb(250, 250, 250) !important;
}

[data-theme='dark'] .ant-select-suffix > svg {
  color: #fff !important;
}

[data-theme='dark'] .page {
  background: rgb(0 0 0 / 85%) !important;
}

[data-theme='dark'] .select-box > div {
  background: #333333 !important;
}

[data-theme='dark'] .ant-card {
  background: rgb(58 58 58 / 85%) !important;
}

[data-theme='dark'] .center {
  background: rgb(38 38 38) !important;
}

[data-theme='dark'] .content-home,
.ant-menu-submenu-popup > .ant-menu {
  background: rgb(38 38 38) !important;
}

[data-theme='dark'] .menu-bar,
.background-mode {
  background-color: var(--background-color) !important;
  border-bottom: solid 1px rgb(38 38 38) !important;
  box-shadow: 0 0 12px #616161;
}

[data-theme='dark'] .background-airdrop-mode {
  background-color: #3a3a3a !important;
}

[data-theme='dark'] .ant-radio-button-wrapper {
  background-color: var(--background-color) !important;
}

[data-theme='dark'] .ant-modal-content {
  background-color: rgb(30, 30, 30) !important;
}

[data-theme='dark'] .ant-modal-header {
  background-color: rgb(30, 30, 30) !important;
  border-color: var(--border-box) !important;
}

[data-theme='dark'] .ant-card-meta-title,
.ant-card-meta-description {
  color: rgb(250, 250, 250) !important;
}

[data-theme='dark'] label {
  color: rgb(250, 250, 250) !important;
}

[data-theme='dark'] .choose > .active {
  border: 1px solid rgb(250, 250, 250) !important;
}

[data-theme='dark'] .textmode {
  color: rgb(250, 250, 250) !important;
}

[data-theme='dark'] .nav-textmode {
  color: rgb(250, 250, 250) !important;
}

@media (max-width: 768px) {
  [data-theme='dark'] .nav-textmode {
    color: rgb(18, 18, 18) !important;
  }
}

[data-theme='dark'] .get-listed {
  color: rgb(250, 250, 250) !important;
}

[data-theme='dark'] .dropzone {
  color: rgba(87, 87, 87, 0.35) !important;
  border: 1px dashed rgba(255, 255, 255, 1.3) !important;
}

[data-theme='dark'] .ant-upload.ant-upload-select-picture-card {
  background-color: rgb(234 234 234 / 15%) !important;
  border: 1px dashed #716f6f !important;
}
[data-theme='dark'] .ant-input {
  background-color: rgb(234 234 234 / 15%) !important;
}
[data-theme='dark'] .ant-input-number {
  background-color: rgb(234 234 234 / 15%) !important;
}
[data-theme='dark'] .ant-picker {
  background-color: rgb(234 234 234 / 15%) !important;
}
[data-theme='dark'] .ant-picker-input > input {
  color: #fff;
}
[data-theme='dark'] .ant-upload {
  color: rgb(250, 250, 250) !important;
}
[data-theme='dark'] .ant-modal-close {
  color: rgb(250, 250, 250) !important;
}
[data-theme='dark'] .ant-picker-separator {
  color: #fafafa !important;
}
[data-theme='dark'] .ant-picker-suffix {
  color: #fafafa !important;
}
[data-theme='dark'] .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #585858;
}
[data-theme='dark'] .ant-input-affix-wrapper {
  border: 1px solid #585858;
}
[data-theme='dark'] .ant-input-affix-wrapper:hover {
  border: 1px solid #b7b7b7;
}

[data-theme='dark'] .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border: 1px solid #b7b7b7 !important;
}
[data-theme='dark'] .rightMenu .ant-menu-item .ant-btn {
  border-color: #777;
}
[data-theme='dark'] .input-mode-bc {
  background-color: #525252 !important;
  border-color: #525252 !important;
}
[data-theme='dark'] .amount-time-airdrop {
  background: #464646 0% 0% no-repeat padding-box;
  border: 1px solid #4c4c4c;
  color: #fff !important;
}
[data-theme='dark'] .amount-airdrop .num-uers-amount {
  color: aliceblue;
}
