@import 'Assets/font-Circular-Std/style-font-circular-std.css';
body {
  font-family: 'Circular Std', Helvetica, Arial, sans-serif !important;
  font-weight: 400;
  max-width: 100%;
  color: #040405;
  background: rgb(255, 255, 255);
}

body > iframe {
  position: absolute;
}

.page {
  width: 100%;
  height: 100%;
}
